@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body
{
    background-color: #aeaeae;
}
.box {
    position: relative;
    padding-top:90px;
    font-family: 'Quicksand', sans-serif;
}
#container
{
    background-color:rgb(100, 101, 101) ;
    border: 1px solid #000000;
    height: 275px;
    width: 550px;
    margin: auto;
    text-align: center;
    position: absolute;
    right:25%;
    left:25%;
    
}
p
{
    font-size: 24px;
  color: aliceblue;
}
#input
{
    width: 100px;
    margin: 25px auto;
}
#btn
{
    margin: 25px auto auto 5px;
}
